.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./assets/TTRounds-Black.otf') format('opentype');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 576px) {
  button {
   font-size: 15px;
  }
  .logotext{
    font-size: medium;
  }
 
  h1 {
    font-size: x-large;
  }
  
  .connect-wallet-text{
    top: 65%;
  }
  .address-button{
    display:none ;
  }
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    height: auto;
    width: 120px;
    color: black;
    background-color: #ffffff;
    font-size: 13px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: none;
    margin-right:5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;   
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .linktext{
    font-size: x-large;
  }
  .loading{
    font-size: x-large;
  }
  input[type="radio"] + label {
    font-size: x-large;
  }
  .text-with-line {
    margin-top: 89px;
  }
}
@media (min-width: 576px) {
  .logotext{
    font-size: 1.5rem;
  }
  .loading{
    font-size: 45px;
  }
  button{
    font-size: 20px;
  }
  
  .connect-wallet-text{
    top: 70%;
  }
  .tooltiptext{
    display: none;
  }
  
  
}
/* app.js, headerlogo */
.textstyle{
  color: #fff;
  font-family: myCustomFont;
}
.textsize{
  font-size:'35px';
}
  
.header {
  background-color: #7d0e0e;
  color: #333;
  border: none;
  padding: 2px;
  align-items: center;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  flex-direction: row;
 
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logotext{
  display: flex;
  align-items: center;
  padding: 12px;
  color:white;
  font-family:MyCustomFont;
}
/* mainpage */
img, svg {
  vertical-align: middle;
}
.text {
  text-align: center;
  width: 100%;
  line-height:0;
}
.text-with-line {
  display: inline-flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
}

.line {
  border: #dfdfdf;
  background-color: #dfdfdf;
  border-radius: 200px;
  border-style: solid;
  border-width: 3px;
  min-height: 40px;
  width: 1px;
}
.connect-wallet-text{
  left: 50%;
  margin-right: -50%;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color: #23a45b;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
/* conectwallet */
.buttons{
  background-color:red ;
  height: auto;
  width: max-content;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: none;               
}
/* connected */
.connect-button{
  height: auto;
  width: auto;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: none;
  margin-right:7px;
  }
  .connect-button .hover-text {
  display: none;
  }
  .connect-button:hover{
  background-color: #b00617 !important;
  }
  .connect-button:hover .hover-text {
  display: flex;
  }
  .connect-button:hover span:first-child {
  display: none;
  }
  .address-button {
    height: 30px;
    width: 120px;
    background-color: #499bfa;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: none;
    margin-right:5px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
/* staking */
.linkcontainer{
  background-color: initial;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.linktext {
  margin-left: 5px;
  padding: 5px;
}
.linkcontainer a:focus {
  background-color: #710707;
  border-radius: 10px;
  border: 10px solid #710707;
  color: #fff;
  text-decoration: none;
}
/* Nfts */
input[type="radio"]:checked + label {
  background-color: rgb(242, 90, 103);
  cursor: default;
}

label{
  display: inline-block;
  text-align: center;
  border: 1px solid rgb(242, 90, 103);
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 4px;
}

input{
  display: none;
}
input[type="radio"]:not(:checked) + label:hover {
  color:  rgba(249, 248, 248, 0.652);
  cursor: pointer;
}
.NFT {
  border: 1px solid #fff;
  border-radius: 20px;
  height: 160px;
  padding: 5px;
  width: 160px;
}
.nft-container{
  background-color: #1069ce84;
  border: 2px solid #3f88da;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  padding: 3% 20px 20px;
}
.loader {
  display: inline-block;
  border: 3px solid #db2424;
  border-top: 3px solid #ffffff24 ; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* staking */
.reward{
display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  margin-bottom: 10px;
}



.stakedNFTDetails {
  background-color: #1069ce84;
  border: 2px solid #3f88da;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



.h1{
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
